body{
    background-image: url('https://img.freepik.com/fotos-premium/buho-sabio-ojos-brillantes-al-frente-al-centro-transformandose-ai-generativo-humo-fantasmal_808510-13.jpg?w=826');
    color: aliceblue;
    background-size: 2000px 1000px;
    padding-left: 50px; 
}